.App {
  text-align: center;
}
@font-face {
  font-family: "futura-heavy";
  src: url("./FuturaHeavyfont.ttf")
}

@font-face {
  font-family: "futura-extra-black";
  src: url("./FuturaExtraBlackFont.ttf")
}
@font-face {
  font-family: "futura-bold-font";
  src: url("./FuturaBoldFont.ttf")
}
@font-face {
  font-family: "futura-book-font";
  src: url("./FuturaBookfont.ttf")
}
@font-face {
  font-family: "futura-medium-bt";
  src: url("./futuraMediumBt.ttf")
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
